
@{
    ViewBag.Title = Model.Baslik;
}

@section head{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <script src="~/Content/style/js/jQuery2.1.3.js"></script>
<script>
        $(document).ready(function () {
            $("#postsilinecek").css("display", "none");
        });
    </script>
<script>
        $(document).ready(function () {
            $("#silinecekpaging").css("display", "none");
        });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/Makale/OkunmaArttir/',
            data:{Makaleid: @Model.MakaleId},
            type:'GET',
        });
    })
</script>
    
}

@model B403Blog.Models.EntityFramework.Makale

<div class="container-fluid pb-4 pt-4 paddding">
    <img src="@Model.Resim.BuyukBoyut" alt="" width="666" />
</div>
<div class="container-fluid pb-4 pt-4 paddding" style="width:1000px;">
    <div class="col-md-8 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
        @Html.Raw(Model.Icerik)
    </div>
</div>

<div class="container-fluid pb-4 pt-4 paddding" style="width:1000px;">
    <div class="col-md-8 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
        <div class="row">
            <div class="panel panel-default" style="width:636px;">
                <div class="panel-heading">  <h4>Yazar Bilgileri</h4></div>
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <img alt="User Pic" src="@Model.Kullanici.Resim.OrtaBoyut" id="profile-image1" class="img-circle img-responsive">


                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                        <div class="container">
                            <h2>@Model.Kullanici.KullaniciAdi</h2>
                            
                             an <p><b> Yazar </b></p>

                            </div>
                        <div class="col-sm-5 col-xs-6 tital ">Katılma Tarihi: @Model.Kullanici.KayitTarihi.ToShortDateString()</div>
                        <div class="col-sm-5 col-xs-6 tital "> <a href="/Yazar/Index/@Model.YazarID">Diğer Yazıları </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#comments -->
<div class="divide100"></div>
<div class="comment-form-wrapper">
    <div id="disqus_thread"></div>
    <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://yazilimkosesi.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
