@model B403Blog.Models.EntityFramework.Makale


@{
    ViewBag.Title = "MakaleEkle";
    Layout = "~/Views/Shared/Panel.cshtml";
}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="dist/eModal.js"></script>
<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary"> Makale Ekle</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form action="/Panel/Ekle" method="post" enctype="multipart/form-data">
                <table class="table table-bordered">

                    <tr>
                        <th>Başlık :</th>
                        <td>
                            @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Baslik, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>Açıklama :</th>
                        <td>
                            @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m=>m.Aciklama, "", new { @class = "text-danger" })

                        </td>
                    </tr>
                    <tr>
                        <th>İçerik:</th>
                        <td>

                            @Html.TextAreaFor(model => model.Icerik, new { @id = "summernote", @class = "form-control", @style = "display:none;" })
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#summernote').summernote({
                                        height: 400,
                                        tabsize: 2,
                                        width: 825,
                                    });
                                });
                            </script>
                            @Html.ValidationMessageFor(m => m.Icerik, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <th>Kategori:</th>
                        <td>
                            <div class="input-group mb-3">
                                <select class="btn btn-outline-secondary dropdown-toggle" style="width: 100%;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="KategoriID" required aria-required="true">
                                    @foreach (B403Blog.Models.EntityFramework.Kategori item in ViewBag.Kategoriler)
                                    {
                                        <option value="@item.KategoriId">
                                            @item.Adi
                                        </option>

                                    }
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>Resim : </th>
                        <td class="btn btn-outline-secondary" style="width: 100%;"> <input type="file" name="resim" value="" required aria-required="true" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>
                            <input type="submit" name="name" id="editorbtn" class="btn btn-success btn-lg btn-block" style="width: 100%;padding:25px;" value="Makale Ekle" />
                        </th>
                    </tr>
                </table>
</form>
</div>
    </div>
</div>