@model B403Blog.ViewModels.DashboardVM
@{

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Panel.cshtml";
}

<h2>Gösterge Paneli</h2>

<div class="row">

<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Makale Sayısı</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                   @Model.Makale.Count()
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Kategori Sayısı</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Kategori.Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Yazar Sayısı</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Kullanici.Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Görüntülenme Sayısı</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"> 50(Google Analytics)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Üst Panel Bitişi-->
@foreach (var makale in Model.MakaleSon)
{
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Yazılan Son Makale (@makale.EklenmeTarihi.ToShortDateString())</h6>
    </div>

    <div class="card mb-4 py-3 border-left-primary"  >
        <div class="card-body" style="height:25px;padding-top:0px;padding-bottom:0px;">
          <b>Makale Başlığı : </b>  @makale.Baslik
        </div>
    </div>
    <div class="card-body" style="padding-top:5px;margin-top:5px !important;">
       <b>Makale İçeriği : </b> @makale.Aciklama
    </div>
</div>
}

@{
    var GrafikCiz = new Chart(500, 500);
    GrafikCiz.AddTitle("Gençay Yıldız Grafik").AddLegend("Gençay Yıldız").AddSeries("Değerler", chartType: "Bar", xValue: new[] { "Ahmet", "Necati", "Mustafa", "Gençay" }, yValues: new[] { "4", "6", "1", "23" }).Write(format: "png");
}



