@using B403Blog.Models.EntityFramework

@model IEnumerable<B403Blog.Models.EntityFramework.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}

@if (TempData["KategoriSilinemez"] != null)
{
    <a href="#page-top"></a>
    <div class="alert alert-danger"  role="alert">
       <b>@TempData["KategoriSilinemez"]</b> 
    </div>
}

<script>
    $(function () {
        $("#tblKategoriler").on("click", ".btnKategoriSil", function () {
            var btn = $(this);
            bootbox.confirm("Kategoriyi Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    var id = btn.data("id");
                    $.ajax({
                        type: "GET",
                        url: "/PanelKategori/Sil/" + id,
                        error: function (response) {
                            alert("Hata!");
                        },
                        success: function () {
                            btn.parent().parent().remove()
                        }

                    });
                }
            })
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#tblKategoriler').DataTable();
    });
</script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Kategori Listesi   @Html.ActionLink("Yeni Kategori", "KategoriEkle", null, new { @class = "btn btn-success" })</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive" >
            <table class="table table-bordered" id="tblKategoriler">
                <thead>

                    <tr>
                        <th>Kategori Adı  </th>
                        <th>Açıklama </th>
                        <th>Makale Sayısı</th>
                        <th>Güncelle </th>
                        <th>Sil </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var ktgr in Model)
                    {
                        <tr>
                            <td>@ktgr.Adi</td>
                            <td>@ktgr.Aciklama</td>
                            <td> @ktgr.Makale.Count</td>
                            <td> <a class="btn btn-warning" href="/PanelKategori/Guncelle/@ktgr.KategoriId">Güncelle</a></td>
                            <td> <a class="btn btn-danger btnKategoriSil" data-id="@ktgr.KategoriId" id="silinecek">Sil</a></td>
                        </tr>
                    }
                </tbody>




            </table>

        </div>
    </div>
</div>