@{
    Layout = null;
}
@model IEnumerable<B403Blog.Models.EntityFramework.Ticket>

@helper IcerikKisalt(string icerik)
{
    if (icerik.Length > 20)
    {
        @icerik.Substring(0, 20);
    }
    else
    {
        @icerik;
    }
}

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">@Model.Count()</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Ticket Merkezi
        </h6>
        <a class="dropdown-item text-center small text-gray-500" href="/TicketGonder/Index">Tüm Ticketları Göster</a>


        @foreach (B403Blog.Models.EntityFramework.Ticket tckt in Model)
        {
            <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                    <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">@tckt.GonderenAdi</div>
                    @IcerikKisalt(tckt.TicketAciklama)...
                </div>
            </a>
        }
    </div>
</li>
<div class="topbar-divider d-none d-sm-block"></div>
<!-- Nav Item - User Information -->

<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"> <b>    @HttpContext.Current.User.Identity.Name </b> </span>
        <img class="img-profile rounded-circle" src="/Content/image/adminlogo.png">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="/PanelProfile/ProfilGor/1">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profilim
        </a>
        <a class="dropdown-item" href="/PanelProfile/Guncelle/1">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Ayarlar
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Çıkış Yap
        </a>
    </div>
</li>
