@using B403Blog.Models.EntityFramework

@model IEnumerable<B403Blog.Models.EntityFramework.Kullanici>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h2>Üyeler Listesi   @Html.ActionLink("Yeni Üye", "UyeEkle", null, new { @class = "btn btn-success" })</h2>

<table class="table table-bordered">
    <thead>

        <tr>

            <th>Kullanıcı Adı</th>

            <th>Mail Adresi</th>
            <th>Kayıt Tarihi</th>
            <th>Rolü</th>
            <th>Güncelle</th>
            <th>Sil</th>




        </tr>
    </thead>
    <tbody>

        @foreach (B403Blog.Models.EntityFramework.Kullanici user in Model)
        {
            <tr>
                <td>@user.Adi</td>
                <td>@user.MailAdres</td>
                <td>@user.KayitTarihi</td>
                <td>
                    @user.Role
                    
                </td>


                <td> @Html.ActionLink("Güncelle", "Guncelle", new { id = user.KullaniciId }, new { @class = "btn btn-warning" }) </td>
                <td> <a class="btn btn-danger" href="/Panel/Sil/@user.KullaniciId">Sil</a></td>
            </tr>
        }
    </tbody>




</table>

