@using B403Blog.Models.EntityFramework

@model IEnumerable<B403Blog.Models.EntityFramework.Kullanici>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}


<script>
    $(function () {
        $("#tblUyeler").on("click", ".btnUyeSil", function () {
            var btn = $(this);
            bootbox.confirm("Üyeyi Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    var id = btn.data("id");
                    $.ajax({
                        type: "GET",
                        url: "/PanelUyeler/Sil/" + id,
                        success: function () {
                            btn.parent().parent().remove()
                        }

                    });
                }
            })
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#tblUyeler').DataTable();
    });
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary"> Üyeler Listesi   @Html.ActionLink("Yeni Üye", "UyeEkle", null, new { @class = "btn btn-success" })</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tblUyeler">
                <thead>

                    <tr>

                        <th>Kullanıcı Adı</th>

                        <th>Mail Adresi</th>
                        <th>Kayıt Tarihi</th>
                        <th>Rolü</th>
                        <th>Güncelle</th>
                        <th>Sil</th>




                    </tr>
                </thead>
                <tbody>

                    @foreach (B403Blog.Models.EntityFramework.Kullanici user in Model)
                    {
                    <tr>
                        <td>@user.KullaniciAdi</td>
                        <td>@user.MailAdres</td>
                        <td>@user.KayitTarihi</td>
                        @if (@user.Role == "2")
                        {
                            <td>Admin</td>
                        }
                        @if (@user.Role == "1")
                        {
                            <td>Mod</td>
                        }

                        <td> @Html.ActionLink("Güncelle", "Guncelle", new { id = user.KullaniciId }, new { @class = "btn btn-warning" }) </td>
                        <td> <a class="btn btn-danger btnUyeSil" data-id="@user.KullaniciId">Sil</a></td>
                    </tr>
                    }
                </tbody>




            </table>

            </div>
</div>
</div>