@model B403Blog.Models.EntityFramework.Kullanici

@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Kullanıcı Ekle</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <form action="/PanelUyeler/Ekle" method="post" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <tr>
                        <th>Adı</th>
                        <td> 
                        @Html.TextBoxFor(m => m.Adi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Adi, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>Soyadı</th>
                        <td> 
                        @Html.TextBoxFor(m => m.Soyadi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Soyadi, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <td>
                        @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.KullaniciAdi, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>Parola</th>
                        <td>
                            @Html.TextBoxFor(m => m.Parola, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Parola, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <td> 
                            @Html.TextBoxFor(m => m.MailAdres, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MailAdres, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <th>Rolü </th>
                        <td>
                            <div class="input-group mb-3">
                                <select class="btn btn-outline-secondary dropdown-toggle" style="width: 100%;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="Role">
                                    @foreach (B403Blog.Models.EntityFramework.Rol item in ViewBag.Kullanicilar)
                                    {
                                        <option value="@item.RollID">
                                            @item.RolAdi
                                        </option>

                                    }
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>Resim : </th>
                        <td class="btn btn-outline-secondary" style="width: 100%;"> <input type="file" name="resim" value="" required aria-required="true"/> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>
                            <input type="submit" name="name" id="editorbtn" class="btn btn-success" style="width: 100%;padding:25px;" value="Üye Ekle" />
                        </th>
                    </tr>
                </table>

            </form>
</div>
</div>
</div>